<div class="card p-1 col-12 col-sm-6 col-lg-6" *ngFor="let tarea of tareas; let i = index">
    <div class="card-header text-center text-white" 
        [ngClass]="{
                        'bg-warning' : tarea.status == 'Pendiente', 
                        'bg-success' : tarea.status == 'Completado', 
                        'bg-danger' : tarea.status == 'Retrasado'
                    }">
        <h2>{{tarea.titulo}}</h2>
    </div>
    <div class="card-body">
        <p>{{tarea.descripcion}}</p>
    </div>
    <div class="card-footer text-center d-flex justify-content-between">
        <p></p>
        <p [ngClass]="
            {
                'text-warning' : tarea.status == 'Pendiente', 
                'text-success' : tarea.status == 'Completado', 
                'text-danger' : tarea.status == 'Retrasado'
            }">
            {{tarea.status}}

        </p>
        <div>
            <button 
                class="btn btn-small btn-danger" 
                (click)="cambiarStatus(i,'Retrasado')"
                *ngIf="tarea.status == 'Pendiente'"
            >X</button>
            <button 
                class="btn btn-small btn-success" 
                (click)="cambiarStatus(i,'Completado')"
                *ngIf="tarea.status != 'Completado'"
            >✓</button>
        </div>
    </div>
</div>